.hidden {
    display: none;
}

canvas {
    position: fixed;
}

div.label {
    position: fixed;
    font-weight: bold;
}

div.inactive-player {
    color: rgb(200, 200, 200);
}

#canvas-0 {
    left: 600px;
}

#label-2 {
    left: 630px;
    top: 365px;
    font-size: 16pt;
}

#canvas-1 {
    left: 800px;
}

#label-3 {
    left: 830px;
    top: 365px;
    font-size: 16pt;
}

#canvas-2 {
    left: 1000px;
}

#label-4 {
    left: 1030px;
    top: 365px;
    font-size: 16pt;
}

#canvas-3 {
    left: 800px;
    top:  400px;
}

#label-5 {
    left: 830px;
    top: 758px;
    font-size: 16pt;
}

#canvas-4 {
    left: 1000px;
    top:  400px;
}

#label-6 {
    left: 1030px;
    top: 758px;
    font-size: 16pt;
}

#preview {
    left: 400px;
    width: 150px;
    background: black;
}

#specials {
    top: 752px;
    width: 654px;
    height: 24px;
    left: 100px;
}

#specials-caption {
    position: fixed;
    top: 750px;
    height: 30px;
    line-height: 30px;
    width: 100px;
    overflow: hidden;
}

#messages {
    position: fixed;
    top: 400px;
    left: 400px;
    width: 390px;
    height: 350px;
    overflow-y: scroll;
}

#info-panel {
    position: fixed;
    left: 400px;
    top: 200px;
}

/* Chat/lobby view */
#chat {
    width: 700px;
    height: 90vh;
    overflow-y: scroll;
}

#chat-input {
    width: 700px;
}

#chat-right-panel {
	position: absolute;
    left: 720px;
    top: 10px;
}

#player-list {
    width: 200px;
    background: rgb(200, 200, 200);
}

div.control-button-box {
	padding-top: 10px;
}
